---
type: calls
disabled rules: [ all ]
google:
  resource_name: {{ .ResourceName }}
tags:
  - contact{{ if gt (len .Tags) 0 }}{{ range .Tags }}
  - {{ . }}{{ end }}{{ end }}
---

[[{{.MainLinkName}}]]

# Call log

|Date|Direction|Number|Duration (s)|
|---|---|---|---|
{{ range .CallData.Call }}|[[{{ .Date }}|{{ .ReadableDate }}]]|{{ if eq .Type "2" }}outgoing{{ else }}incoming{{ end }}|{{ .Number }}|{{ .Duration }}|
{{ end }}