---{{ if .Birthday }}
birthday: {{ .Birthday }}{{ end }}
type: person
disabled rules: [ all ]
google:
  resource_name: {{ .ResourceName }}
tags:
  - contact{{ if gt (len .Tags) 0 }}{{ range .Tags }}
  - {{ . }}{{ end }}{{ end }}
aliases:{{ if gt (len .Aliases) 0}}{{ range .Aliases }}
  - {{ . }}{{ end }}{{ end }}
---

{{ .PersonalData }}{{ if gt (len .Addresses) 0 }}## Address

{{ .Addresses }}
{{ end }}{{ if gt (len .PhoneNumbers) 0 }}## Phone numbers

{{ .PhoneNumbers }}
{{ end }}{{ if gt (len .Email) 0 }}## EMail

{{ .Email }}
{{ end }}{{ if gt (len .Im) 0 }}## IM

{{ .Im }}{{ end }}{{ if gt (len .MessageData) 0 }}## SMS

[[{{.MainLinkName}} Messages]]

{{ end }}{{ if gt (len .CallData.Call) 0 }}## Call log

[[{{.MainLinkName}} Calls]]{{ end }}
