---
type: messages
disabled rules: [ all ]
google:
  resource_name: {{ .ResourceName }}
tags:
  - contact{{ if gt (len .Tags) 0 }}{{ range .Tags }}
  - {{ . }}{{ end }}{{ end }}
---

[[{{.MainLinkName}}]]

# Message log

|Date|Direction|Text|
|---|---|---|
{{ range .MessageData }}|{{ .Date }}|{{ if eq .Direction "2" }}outgoing{{ else }}incoming{{ end }}|{{ .Text }}|
{{ end }}